- var local = htmlWebpackPlugin.options.options.local;
- var rel = !htmlWebpackPlugin.options.options.isDefault ? '../' : '';
- var clientCode = htmlWebpackPlugin.options.options.clientCode;
- var languages = htmlWebpackPlugin.options.options.languages;
html(lang=local.meta.code)
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="author", content="Ivan Sivak@Xolution")
		meta(name="keywords", content=local.meta.keywords)
		meta(name="description", content=local.meta.description)
		link(rel="shortcut icon", href=rel+"assets/favicon.png", type="image/x-icon")
		link(rel="apple-touch-icon", href=rel+"assets/favicon.png")
		//- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700&amp;subset=latin-ext")
		link(rel="stylesheet", href=rel+"assets/bootstrap.min.css")
		link(rel="stylesheet", href=rel+"main.css")
		title X-Bot

		script(async,src="https://www.googletagmanager.com/gtag/js?id=UA-68042186-1")

		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WPDQZS6');

		script.
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:1119387,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

		script.
			window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);};gtag('js', new Date());
			gtag('config', 'AW-785172836');
			function contactFormOnSubmit() { 
				gtag('event', 'conversion', {'send_to': 'AW-785172836/EPMtCJqC1ooBEOSSs_YC'});
				gtag('event', 'formulara', {'event_category': 'odoslanie','event_label': 'prve'});
			}
	body
		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-WPDQZS6",height="0",width="0",style="display:none;visibility:hidden")
		header.main-header
			video(loop,muted)
				source(src=rel+"assets/6c97f76c87e6bc05a3b0345183038530.mp4", type="video/mp4")
				source(src=rel+"assets/d820af32f7facfd7bca8905c175cd3c8.ogv", type="video/ogg")
				source(src=rel+"assets/e441d1409f93e0b976c968feca6a2ce4.webm", type="video/webm")
			.container
				.d-flex.justify-content-between
					a.main-header__logo(href="#")
						img(src=rel+"assets/xolution-logo.svg", alt="logo")
					a(href="#").nav-hamburger
						.nav-hamburger__ham
					nav#nav_main.navigation.pt-4
						a.navigation__close(href="#")
							.navigation__close__cross
							.navigation__close__cross
						.navigation__nav-links
							each link in local.navigation
								a.navigation__nav-link(href=link.link)= link.label

							div.navigation__nav-link.dropdown
								a.btn.btn-secondary.dropdown-toggle(href="#",role="button",id="dropdownMenuLink",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")= languages[0] === 'CS' ? 'CZ' : languages[0]
								div.dropdown-menu(aria-labelledby="dropdownMenuLink")
									-var l = 0
									while l < languages.length - 1
										a.dropdown-item(href=rel + languages[++l])= languages[l] === 'CS' ? 'CZ' : languages[l]
				.main-header__introduction
					img(src=rel+"assets/xbot-logo.svg", alt="")
					h1 !{local.header.intro}
					h2 !{local.header.subintro}
				//- a.btn.btn-arrow(href="http://www.xolution.sk/contact-us")= local.header.calc_roi
				a.btn.btn-arrow(href="#contact")= local.header.try_xbot

		section.bot-facts
			.container
				.bot-facts__brief.row
					.bot-facts__brief__claim.col-md-7
						h2= local.claims.left.title
						ul.bot-facts__brief__claim__points
							each point in local.claims.left.points
								li= point
					.bot-facts__brief__quote.col-md-5
						.bot-facts__brief__quote__quotation
						.carousel(data-siemainterval=10000)
							.carousel__container
								each item in local.claims.right
									.carousel__item
										p= item.text
										strong= item.author
							ul.carousel__bullets

		section.xbot-portfolio
			h1= local.portfolio.title
			.xbot-portfolio__container
				.xbot-portfolio__items.row
					- for(var i = 0; i < 4; i++)
						- var item = local.portfolio.items[i]
						a(href=(item.link === '#' ? '#' : (htmlWebpackPlugin.options.options.isDefault ? local.meta.code.toUpperCase() + '/' : '') + 'clients/' + item.link + '.html')).xbot-portfolio__item.col-md-6
							.xbot-portfolio__item__bg(style='background-image: url(' + rel + 'assets/' + item.image + ')')
							.xbot-portfolio__item__content
								h2= item.title
								- if('client' in item)
									.xbot-portfolio__item__client= item.client

		section#xbot.xbot-features
			.xbot-features__overlay
				.xbot-features__title.container
					.xbot-features__title__effect--left
					h2 !{local.xbot.title}
					.xbot-features__title__effect--right
			.container
				.row.text-center.d-none.d-sm-none.d-lg-flex
					.col-md-6
						img(src=rel+"assets/intelligence.png", alt="").xbot-features__header-img.xbot-features__header-img--left
					.col-md-6
						img(src=rel+"assets/company.png", alt="").xbot-features__header-img.xbot-features__header-img--right
				.xbot-features__categories.row
					each half in ['customer', 'company']
						- half = local.xbot[half];
						.xbot-features__categories__category.col-md
							h3= half.title
							- //p.xbot-features__categories__category__description= half.description
							each section in half.sections
								div.xbot-features__single.align-items-center(onclick="javascript:void(0)")
									.xbot-features__single__img-holder.align-items-center
										img(src=rel+'assets/svg/' + section.icon + '.svg', alt='')
									.xbot-features__single__description
										h4= section.title
										div !{section.description}
				//- hr
				//-.text-center
					//-a.btn.btn-purple.btn-purple--ghost(href=local.contactButton.link)= local.contactButton.label

		section.xbot_abilities.padded-section
			h2= local.abilities.title
			#botAbilities
				canvas
				.xbot_abilities__abilities
					each ability in local.abilities.list
						div.xbot_abilities__ability
							span= ability
			- //div(style="text-align: center")
				- //img(src="/assets/abilities.jpg", alt="")
			- //each ability in local.abilities.list
				- //div= ability

		section.implementation.padded-section
			h2 !{local.implementation.title}
			- //img(src="/assets/oblasti.png", alt="")
			.implementation__bubbles
				canvas
				.implementation__bubble--descriptions
					each implementation in local.implementation.list
						ul.implementation__bubble--description
							.implementation__bubble--description__caret
							each point in implementation.points
								li= point
				.implementation__bubbles__bubbles
					- var bubbleIdx = 0;
					each implementation in local.implementation.list
						- var titleSplit = implementation.title.split(' ')
						- var title = '';
						- for(var i = 0; i < titleSplit.length; i++) {
							- var br = false;
							- if(titleSplit[i].length > 1)
								- br = true;
							- title += titleSplit[i] + (i < titleSplit.length - 1 ? br ? '<br>' : ' ' : '');
						- }
						div.implementation__bubble--wrapper(data-idx=bubbleIdx,data-xpos=implementation.x,data-ypos=implementation.y)
							div.implementation__bubble
								span !{title}
						- bubbleIdx++;
		
		section.successful_bots
			h2= local.carousel.title
			.container
				.carousel--multiple-holder
					.carousel.carousel--multiple(data-siemainterval=6000)
						.carousel__container
							each item in local.carousel.items
								.carousel__item
									.claim__author= item.brand
									p !{item.description}
						ul.carousel__bullets

		section.implementation-progress.padded-section
			- section = local.implementation_progress;
			h2= section.title
			.implementation-progress__wrapper
				.implementation-progress__wrapper__scrollable
					.implementation-progress__chart.row.no-gutters
						- for(var i = 0; i < 6; i++) {
							.implementation-progress__chart__stage.col(data-progress=section.phases[i].progress,onclick="javascript:void(0)")
								.implementation-progress__chart__stage__description= section.phases[i].description
								if(i < section.phases.length - 1)
									.implementation-progress__chart__stage__circle
								.implementation-progress__chart__stage__container
									h5= section.stage+' '+(i+1)
									if(i < section.phases.length - 1)
										.implementation-progress__chart__stage__progress= section.phases[i].progress*100+'%'
						- }
					.implementation-progress__map.row.no-gutters
						.implementation-progress__map__stage.implementation-progress__map__stage--dashed.row.col-6.align-items-center.d-flex
							.implementation-progress__map__stage.implementation-progress__map__stage--planning.col-4= section.planning
						.implementation-progress__map__stage.implementation-progress__map__stage--stage-2.row.col-6
							.implementation-progress__map__stage.implementation-progress__map__stage--green.col-8= section.implementation
							.implementation-progress__map__stage.implementation-progress__map__stage--yellow.col-4
								.implementation-progress__map__stage--yellow__inner= section.support
					//- .implementation-progress__map__no-charge= section.no_charge
					//- div(style="height: 20px")
			//- h2.implementation-progress__xbot-future= section.xbot_future

		.xbot_cta#contact
			.xbot_cta__bg
			.container
				h1= local.cta.title
				h2= local.cta.subtitle
				a.btn.btn-arrow(href=local.contactButton.link)= local.contactButton.label

		footer.footer
			.container
				.d-flex.justify-content-between
					a.footer__logo(href="#top")
						img(src=rel+"assets/xbot-logo_purple.svg", alt="logo")
					nav.navigation.pt-4
						each link in local.navigation
							a.navigation__nav-link(href=link.link)= link.label

		a.linkedin-float(title="Xolution LinkedIn", target="_blank", href="https://www.linkedin.com/company/xolution-europe")
			img(src=rel+"assets/linkedin.png", alt="linkedin")

		.contact-form
			.contact-form__content
				.contact-form__form
					.contact-form__form__form
						h1= local.contact_form.header
						p= local.contact_form.info
						form
							#email_validation_wrap
								input#contact_email(type="text",placeholder="E-mail")
								div.error Please enter valid e-mail address
							textarea#contact_message(type="text",placeholder=local.contact_form.phone)
							input#contact_submit(type="submit",value=local.contact_form.submit,data-sending=local.contact_form.submit_progress)
					.contact-form__form__thanks
						h1= local.contact_form.thanks
						p= local.contact_form.subthanks
			a(href='#').contact-form__close
				img(src=rel+"assets/close-button.svg")

		script(src="https://www.google.com/recaptcha/api.js",async,defer)
		#recaptcha.g-recaptcha(data-sitekey="6Lf5iWIUAAAAAIfOdZDaTCIW_B2kTR8XNRgnNimR",data-callback="formSubmitFn",data-size="invisible")
		script(src=rel+"chatbots.js")